<!DOCTYPE html>
<html>
<head>
    <title>Registros</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>
<body>
    <div>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" id="nav">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Analytics Business Intelligence</a>
              <div class="navbar-nav" id="nav--link">
                <a class="nav-link btn btn-outline-success" href="/">Dashboard</a>
                <a class="nav-link btn btn-outline-success" href="/table"></a>
              </div>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="container-search">
            <h1>Resultado de Registros</h1>
            <form action="/registros" method="post">
                <button class="search-button" type="submit">Buscar</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>